<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="col-lg-4">
        <h1>You Searched For : <%= data.userQuery %></h1>
        <% if(data.loggedIn){ %>
            <h2> You are log in as : <%= data.username %></h2>
        <% } %>
        <ul>
            <% data.searchResults.forEach(result => { %>
                <li><%= result %></li>
            <% }); %>
        </ul>
    </div>
    <script src="/public/js/example.js"></script>
</body>
</html>